/* --- Colour Palette --- /
E57A44 - Mandarin
EFEFEF - Cultured
100F10 - Smoky black
922D50 - Magenta
668F80 - Wintergreen Dream
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/*Remove scroll from 'number' input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  overflow: -moz-hidden-unscrollable;
}


.welcome {
  font-size: 1.9rem;
  font-weight: 500;
  width: 250px;
}

.logo {
  height: 10.5rem;
}
/* .login {
  display: none;
  visibility: hidden;
} */
/* 
.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 14rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
} */

.user_prompt {
  display: flex;
  flex-direction: row;
}

.signup_prompt,
.login_prompt,
.logout_prompt,
.user_profile_prompt,
.gift_recipient,
.time_gift {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 13rem;
  border-radius: 10rem;
  margin: 0 1rem;
  color: inherit;
  border: 3px solid #000;
  background-color: #fff;
}

.user_profile_prompt {
  display: none;
  width: 13rem;
}
/* 
.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
} */

.login__input::placeholder,
.signup_input::placeholder {
  color: #bbb;
}

.login__btn,
.signup_btn,
.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #777;
}

.signup,
.login {
  border: solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 10px;
}

/* .login_form {
  width: 250px;
  position: absolute;
  display: none;
  right: 5rem;
  top: 2rem;
  background-color: #fff;
} */

.signup_input,
.login__input {
  margin: 10px 0;
  padding: 0 10px;
  height: 45px;
}

.main_page {
  position: relative;
  height: 100vh;
  padding: 2rem;
}

.signup_form,
.login_form {
  display: none ;
  width: 250px;
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: #fff;
  z-index: 10;
}

.user_profile_summary {
  display: none;
  padding: 10px 10px;
  width: 260px;
  border: solid 0.5px;
  background-color: #000;
  color: #fff;
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.user_details {
  margin: 10px 0;
  padding: 10px 10px;
  text-align: left;
  font-size: 15px;
}

/* --- Timer --- */

.timer {
  visibility: hidden;
  border: solid;
  background-color: #f3f3f3;
  padding: 15px;
  position: absolute;
  width: 450px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.hours,
.minutes,
.seconds,
.colon {
  font-size: 7em;
}

.timer_countdown,
.timer_btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.timer_start,
.timer_end,
.timer_gift,
.timer_hold {
  /* width: 100px; */
  border: solid #000;
  border-radius: 15px;
  color: #000;
  text-align: center;
  padding: 4px 18px;
  margin: 20px 10px;
  font-size: 14px;
}

.timer_start:hover,
.timer_start:active {
  background-color: #e57a44;
  color: #fff;
}

.timer_end:hover {
  background-color: #100f10;
  color: #fff;
}

.timer_gift:hover {
  background-color: #668f80;
  color: #fff;
}

.timer_hold:hover {
  background-color: #922d50;
  color: #fff;
}

/* --- Gifting function --- */
.gift_menu {
  visibility:hidden;
  padding: 10px 10px;
  border: solid 0.5px;
  background-color: #000;
  z-index: 9;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.gift_function {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.gift_recipient,
.time_gift {
  width: 16rem;
  margin: 0 10px;
}

.users_other {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 50px;
}

.gift_confirm_btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.single_user {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.gift_table {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
}

.gift_user_time {
  color: #fff;
  font-size: 1.6rem;
}

/* ----- MEDIA QUERIES RESPONSIVE ----- */

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  /* .row{ padding: 0 2%; } */
}

/*Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  /* body{ font-size: 18px;} */
  /* .row{ padding: 0 3%; } */
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
  /* body{ font-size: 15px;} */
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  nav {
    flex-direction: column;
    align-content: space-evenly;
  }

  .main_page {
    height: 80vh;
  }
  .logo {
    order: 1;
    height: 7.5rem;
  }

  .welcome {
    order: 3;
    text-align: center;
    margin-top: 10px;
  }
  .user_prompt {
    order: 2;
    /* margin: 10px; */
  }
  .signup_form,
  .login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .timer {
    width: 300px;
  }
  .hours,
  .minutes,
  .seconds,
  .colon {
    font-size: 4em;
  }

  .timer_start,
  .timer_end,
  .timer_gift,
  .timer_hold {
    padding: 4px 10px;
  }

  .gift_recipient,
  .time_gift {
    width: 100px;
    font-size: 1.2rem;
  }

  .login_prompt,
  .signup_prompt{
    margin: 0 1rem;
  }
}
