/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  /* .row{ padding: 0 2%; } */
}

/*Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  /* body{ font-size: 18px;} */
  /* .row{ padding: 0 3%; } */
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
  /* body{ font-size: 15px;} */
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  nav {
    flex-direction: column;
    align-content: space-evenly;
  }
  .logo {
    order: 1;
  }
  .welcome {
    order: 2;
    text-align: center;
    margin-top: 10px
  }
  .user_prompt {
    order: 1;
    margin: 10px;
  }
  .signup_form,
  .login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .timer{
      width: 200px;
  }
